.register-main-container{
    width: 100%;
    height: auto;
    padding: 2%;
    background-image: linear-gradient(to right, #4d95d4, #f2989826),url('../../Assets/register-bg.jpeg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-form-container{
    padding-bottom: 20px;
    width: 50%;
    height: auto;
    background-color: white;

}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}